<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <div class="todo">
        <section>{{title}}</section>
            <input type="text"  v-model="inputvalue">
            <input type="button" @click="add" value="添加" >
            <ul >
                <li v-for="(item,index) of list" 

                
                    @click="dele(index)"  
                > 
                {{item}}---{{index}} 
                </li>
            </ul>

    </div>
    <script>

        var vm = new Vue({
            el:".todo",
            data:{
                key:'',
                title:"todos",
                inputvalue:'',
                list:[11,22,33,44,55]
            },
            methods:{
                add:function(){
                    this.list.push(this.inputvalue);
                    this.inputvalue=""
                },
                dele:function(k){
                    this.list.splice(k,1); //接收传过来的下标 删除对应的下标的数据
                    console.log(this.list);
                }
            }
        })
    
    
    </script>
</body>
</html>